{% extends 'dashboard/index.html' %}
{% load static %}

{% block dashboard_extensions %}
<title>Nutzer hinzufügen - Digitales Fahrtenbuch</title>
{% endblock %}

{% block dashboard_content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Nutzer hinzufügen</h1>
</div>
<div class="row">
    <div class="col-md-12 mb-4" style="max-width: 720px">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Hinweis</h6>
            </div>
            <div class="card-body">
                <p>Mit dem folgenden Formular fügen sie einen Nutzer zu ihrer Institution hinzu.</p>
                <a class="btn btn-primary" href="{% url 'users:users' %}">Zum Formular</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}