{% extends 'dashboard/index.html' %}
{% load static %}

{% block dashboard_extensions %}
<title>Nutzer hinzufügen - Digitales Fahrtenbuch</title>
{% endblock %}

{% block dashboard_content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Nutzer hinzufügen</h1>
</div>
<div class="row">
    <div class="col-md-12 mb-4" style="max-width: 720px">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Nutzer hinzufügen</h6>
            </div>
            <div class="card-body">
                <form action="{% url 'users:insert_user' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="first_name">Vorname<b> *</b></label>
                        <input class="form-control" id="first_name" name="first_name" type="text">
                        <small class="form-text text-muted">
                            (Erlaubt sind bis zu 50 Buchstaben)
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="last_name">Nachname<b> *</b></label>
                        <input class="form-control" id="last_name" name="last_name" type="text">
                        <small class="form-text text-muted">
                            (Erlaubt sind bis zu 50 Buchstaben)
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="email">E-Mail<b> *</b></label>
                        <input class="form-control" id="email" name="email" type="email">
                        <small class="form-text text-muted">
                            (Erlaubt ist nur ein gültiges E-Mail Format)
                        </small>
                    </div>
                    <div class="form-group">
                        <label>Berechtigungen<b> *</b></label>
                        <div class="custom-control custom-checkbox">
                            <input checked class="custom-control-input" id="role_controller"
                                   name="role_controller" type="checkbox">
                            <label class="custom-control-label" for="role_controller">Controller</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="role_fahrer" name="role_fahrer" type="checkbox">
                            <label class="custom-control-label" for="role_fahrer">Fahrer</label>
                        </div>
                        <small class="form-text text-muted">
                            (Sie müssen mindestens eine Rolle für jeden Nutzer angeben)
                        </small>
                    </div>
                    <small><b>(*) </b>Pflichtfelder</small>
                    <div class="form-group mt-3">
                        <a class="btn btn-secondary" href="{% url 'users:index' %}">Abbrechen</a>
                        <button class="btn btn-primary" type="submit">Neuen Nutzer hinzufügen</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
