{% load static %}
<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <!-- Custom fonts for this template-->
    <link href="{% static 'project/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static 'project/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'project/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    {% block project_extensions %}
    {% endblock %}
</head>

<body class="bg-light" id="page-top">
{% block project_content %}
{% endblock %}
<!-- Bootstrap core JavaScript-->
<script src="{% static 'project/js/jquery.min.js' %}"></script>
<script src="{% static 'project/js/bootstrap.bundle.min.js' %}"></script>
<!-- Core plugin JavaScript-->
<script src="{% static 'project/js/jquery.easing.min.js' %}"></script>
<!-- Custom scripts for all pages-->
<script src="{% static 'project/js/sb-admin-2.min.js' %}"></script>
</body>

</html>
