{% extends 'dashboard/index.html' %}
{% load static %}

{% block dashboard_extensions %}
<title>Fahrt hinzufügen - Digitales Fahrtenbuch</title>
{% endblock %}

{% block dashboard_content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Fahrt hinzufügen</h1>
</div>
<div class="row">
    <div class="col-md-12" style="max-width: 720px">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Neue Fahrt hinzufügen</h6>
            </div>
            <div class="card-body">
                <form action="{% url 'trips:insert_empty_trip' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Bezeichnung <small>(optional)</small></label>
                        <input class="form-control" id="name" name="name" type="text">
                        <small class="form-text text-muted">
                            Erleichtert ihnen das spätere Auffinden der Fahrt
                        </small>
                    </div>
                    <div class="form-group mt-3">
                        <a class="btn btn-secondary mt-2" href="{% url 'trips:index' %}">Abbrechen</a>
                        <button class="btn btn-primary mt-2" type="submit">Weiter zum Eintragen der Hinfahrt</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 mb-4" style="max-width: 720px">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Ihr gebuchtes Fahrzeug
                        </div>
                        <div class="h6 mb-0 font-weight-bold text-gray-800">{{ car.1 }} {{ car.0 }} {{ car.6 }} (Sitze:
                            {{ car.3 }})
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-car fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
