{% extends 'dashboard/index.html' %}
{% load static %}

{% block dashboard_extensions %}
<title>Fahrt hinzufügen - Digitales Fahrtenbuch</title>
{% endblock %}

{% block dashboard_content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Fahrt hinzufügen</h1>
</div>
<form action="{% url 'trips:insert_trip_part' %}" method="POST">
    {% csrf_token %}
    <!-- Zeitangaben und Entfernung -->
    <div class="row">
        <div class="col-md-12 mb-3" style="max-width: 720px">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Zeitangaben und Entfernung</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="startdate">Startdatum<b> *</b></label>
                        <input class="form-control" id="startdate" name="startdate" type="text">
                        <small class="form-text text-muted">
                            (Erlaubt ist das Datumformat TT:MM:JJJJ)
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="starttime">Startzeit<b> *</b></label>
                        <input class="form-control" id="starttime" name="starttime" type="text">
                        <small class="form-text text-muted">
                            (Erlaubt ist das Zeitformat SS:MM)
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="enddate">Enddatum<b> *</b></label>
                        <input class="form-control" id="enddate" name="enddate" type="text">
                        <small class="form-text text-muted">
                            (Erlaubt ist das Datumsformat TT:MM:JJJJ)
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="endtime">Endzeit<b> *</b></label>
                        <input class="form-control" id="endtime" name="endtime" type="text">
                        <small class="form-text text-muted">
                            (Erlaubt ist das Zeitformat SS:MM)
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="distance">Entfernung<b> *</b></label>
                        <input class="form-control" id="distance" name="distance" type="text">
                        <small class="form-text text-muted">
                            (Erlaubt sind Längenangaben in Kilometern bis zu einer Stelle nach dem Punkt)
                        </small>
                    </div>
                    <small><b>(*) </b>Pflichtfelder</small>
                </div>
            </div>
        </div>
    </div>
    <!-- Startort -->
    <div class="row">
        <div class="col-md-12 mb-3" style="max-width: 720px">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Startort</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="start_street">Straße<b> *</b></label>
                        <input class="form-control" id="start_street" name="start_street" type="text">
                        <small class="form-text text-muted">
                            (Erlaubt sind bis zu 100 Buchstaben und Zahlen)
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="start_house_number">Hausnummer</label>
                        <input class="form-control" id="start_house_number" name="start_house_number" type="text">
                        <small class="form-text text-muted">
                            (Erlaubt sind bis zu 4 Buchstaben und Zahlen)
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="start_postalcode">Postleitzahl<b> *</b></label>
                        <input class="form-control" id="start_postalcode" name="start_postalcode" type="text">
                        <small class="form-text text-muted">
                            (Erlaubt sind genau 5 Zahlen)
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="start_town">Stadt<b> *</b></label>
                        <input class="form-control" id="start_town" name="start_town" type="text">
                        <small class="form-text text-muted">
                            (Erlaubt sind bis zu 100 Buchstaben und Zahlen)
                        </small>
                    </div>
                    <small><b>(*) </b>Pflichtfelder</small>
                </div>
            </div>
        </div>
    </div>
    <!-- Zielort -->
    <div class="row">
        <div class="col-md-12 mb-3" style="max-width: 720px">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Zielort</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="end_street">Straße<b> *</b></label>
                        <input class="form-control" id="end_street" name="end_street" type="text">
                        <small class="form-text text-muted">
                            (Erlaubt sind bis zu 100 Buchstaben und Zahlen)
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="end_house_number">Hausnummer</label>
                        <input class="form-control" id="end_house_number" name="end_house_number" type="text">
                        <small class="form-text text-muted">
                            (Erlaubt sind bis zu 4 Buchstaben und Zahlen)
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="end_postalcode">Postleitzahl<b> *</b></label>
                        <input class="form-control" id="end_postalcode" name="end_postalcode" type="text">
                        <small class="form-text text-muted">
                            (Erlaubt sind genau 5 Zahlen)
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="end_town">Stadt<b> *</b></label>
                        <input class="form-control" id="end_town" name="end_town" type="text">
                        <small class="form-text text-muted">
                            (Erlaubt sind bis zu 100 Buchstaben und Zahlen)
                        </small>
                    </div>
                    <small><b>(*) </b>Pflichtfelder</small>
                </div>
            </div>
        </div>
    </div>
    <!-- Buttons -->
    <div class="row">
        <div class="col-md-12 mb-3" style="max-width: 720px">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Hinweis</h6>
                </div>
                <div class="card-body">
                    <strong class="card-title">Aktuelle Fahrtabschnitte: {{ form_count }} (von mind. 2)</strong>
                    <p class="card-text mt-1">Zum Beenden einer Fahrt werden mindestens <b>2</b> Fahrtabschnitte
                        benötigt.</p>
                    <div class="form-group">
                      <button class="btn btn-primary" name="insert_trip_part" type="submit" value="true">
                          Fahrtabschnitt speichern und weiteren hinzufügen
                      </button>
                    </div>
                    <div class="form-group">
                      <button class="btn btn-secondary" {% if disabled %} disabled {% endif %} name="insert_back"
                            type="submit" value="true">
                            Fahrtabschnitt speichern und Fahrt beenden
                      </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
