{% extends 'dashboard/base.html' %}
{% load static %}

<!-- Extensions for head e.g. stylesheets, js, tags -->
{% block dashboard_extensions %}
<title>Profil - Digitales Fahrtenbuch</title>
{% endblock %}

<!-- Bootstrap Container grid -->
{% block dashboard_content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Profil</h1>
</div>
<div class="row">
    <!-- Nutzerdaten -->
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Nutzerdaten</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table cellspacing="0" class="table table-bordered" id="dataTable" width="100%">
                        <tbody>
                        <tr>
                            <th>Vorname</th>
                            <td>{{ first_name }}</td>
                        </tr>
                        <tr>
                            <th>Nachname</th>
                            <td>{{ last_name }}</td>
                        </tr>
                        <tr>
                            <th>E-Mail</th>
                            <td>{{ email }}</td>
                        </tr>
                        <tr>
                            <th>Institution</th>
                            <td>{{ institution }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Passwort ändern -->
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Passwort ändern</h6>
            </div>
            <div class="card-body">
                <form action="{% url 'personal:change_pass' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="old_pass">Altes Passwort</label>
                        <input class="form-control" id="old_pass" name="old_pass" placeholder="Altes Passwort eingeben..."
                               type="password">
                    </div>
                    <div class="form-group">
                        <label for="new_pass">Neues Passwort</label>
                        <input class="form-control" id="new_pass" name="new_pass" placeholder="Neues Passwort eingeben..."
                               type="password">
                    </div>
                    <button class="btn btn-primary" type="submit">Passwort ändern</button
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
