{% extends 'project/base.html' %}
{% load static %}

{% block project_extensions %}
{% endblock %}

{% block project_content %}
<div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Digitales Fahrtenbuch</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="btn btn-primary ml-auto" href="{% url 'frontpage:login' %}">Anmelden</a>
        </div>
    </nav>

    <section class="jumbotron">
        <div class="container text-center">
            <h1 class="display-4">The New Internet</h1>
            <p class="lead text-muted">Decentralized, secure, private. The PiperNet is on it's way to revolutionize
                every smartphone, PC, and smart-fridge near you.</p>
            <a class="btn btn-primary my-2" href="{% url 'frontpage:signup' %}">Registrieren</a>
            <a class="btn btn-link my-2" href="#">Read more</a>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <h2 class="mb-5 text-center">Some of our awesome features</h2>
            <div class="row">
                <div class="col-md-3 mb-4">
                    <h5>Decentralized</h5>
                    <p>Your data is stored in many places at once. Awesome, right?</p><a href="#" role="button">Read
                    more</a>
                </div>
                <div class="col-md-3 mb-4">
                    <h5>Secure</h5>
                    <p>Nobody will be able to use your data without your consent.</p><a href="#" role="button">Read
                    more</a>
                </div>
                <div class="col-md-3 mb-4">
                    <h5>Private</h5>
                    <p>Your online activity is only yours to know. Always.</p><a href="#" role="button">Read more</a>
                </div>
                <div class="col-md-3 mb-4">
                    <h5>Speed</h5>
                    <p>Unimaginable transfer speed thanks to middle-out compression.</p><a href="#" role="button">Read
                    more</a>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container text-center">
            <h2 class="mb-4">PiperNet Setup</h2>
            <p class="lead mb-5">We've designed a simple, efficient process for companies migrating to PiperNet. Here's
                how it works.</p>
            <div>
                <div class="row align-items-center text-md-left mb-5">
                    <div class="col-md-6 order-1 order-md-0"><img alt=""
                                                                  class="img-fluid"
                                                                  src="https://bootstrapshuffle.com/placeholder/pictures/bg_16-9.svg?primary=007bff"></div>
                    <div class="col-md-6 mb-4 mb-md-0"><span class="display-3 mb-2">01</span>
                        <h3 class="mb-4">Move Data</h3>
                        <p>Using our Piper Assistant application, you can move your data to be stored our decentralized
                            network with simple drag & drop.</p>
                    </div>
                </div>
                <div class="row align-items-center text-md-right mb-5">
                    <div class="col-md-6 order-1"><img alt=""
                                                       class="img-fluid"
                                                       src="https://bootstrapshuffle.com/placeholder/pictures/bg_16-9.svg?primary=007bff"></div>
                    <div class="col-md-6 mb-4 mb-md-0 order-0"><span class="display-3 mb-2">02</span>
                        <h3 class="mb-4">Integrate Software</h3>
                        <p>We want to make sure that you can keep using the software that you use to manage your
                            business.</p>
                    </div>
                </div>
                <div class="row align-items-center text-md-left mb-5">
                    <div class="col-md-6 order-1 order-md-0"><img alt=""
                                                                  class="img-fluid"
                                                                  src="https://bootstrapshuffle.com/placeholder/pictures/bg_16-9.svg?primary=007bff"></div>
                    <div class="col-md-6 mb-4 mb-md-0"><span class="display-3 mb-2">03</span>
                        <h3 class="mb-4">Ongoing Support</h3>
                        <p>As with all innovative technologies, sometimes unpredictable things will happen, and you can
                            always count on our support to solve issues for you.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container text-center">
            <h2>Our plans</h2>
            <div class="row">
                <div class="col-md-4 my-4">
                    <div class="border rounded p-4 h-100">
                        <h3 class="mb-3 font-weight-normal">Small Piper</h3>
                        <p class="lead">Join our network, but build and manage everything yourself.</p>
                        <p class="my-4">$10 <small class="text-muted">Per user / monthly</small></p>
                        <button class="btn btn-lg btn-primary" type="button">Contact Sales</button>
                    </div>
                </div>
                <div class="col-md-4 my-4">
                    <div class="border rounded p-4 h-100">
                        <h3 class="mb-3 font-weight-normal">Medium Piper</h3>
                        <p class="lead">We build what you need, but you still need to manage your data.</p>
                        <p class="my-4">$50 <small class="text-muted">Per user / monthly</small></p>
                        <button class="btn btn-lg btn-outline-primary" type="button">Contact Sales</button>
                    </div>
                </div>
                <div class="col-md-4 my-4">
                    <div class="border rounded p-4 h-100">
                        <h3 class="mb-3 font-weight-normal">Enterprise Piper</h3>
                        <p class="lead">We do everything for you, including managing your data.</p>
                        <p class="my-4">$100 <small class="text-muted">Per user / monthly</small></p>
                        <button class="btn btn-lg btn-outline-primary" type="button">Contact Sales</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <h2 class="mb-5 text-center">Frequently Asked Questions</h2>
            <div class="accordion" id="faq-01">
                <div class="mb-2 border-bottom">
                    <h5 id="faq-heading1-01">
                        <button aria-controls="faq-collapse1-01" aria-expanded="false" class="btn btn-link btn-block text-left d-flex"
                                data-target="#faq-collapse1-01" data-toggle="collapse" style="white-space:normal !important; word-wrap: break-word"
                                type="button">How is a decentralized
                            network different from the traditional web?<img alt=""
                                                                            class="p-1 ml-auto my-auto"
                                                                            src="placeholder/icons/chevron-circle-down.svg"></button>
                    </h5>
                    <div aria-labelledby="faq-heading1-01" class="collapse" data-parent="#faq-01" id="faq-collapse1-01">
                        <p>Decentralization is a key aspect of PiperNet. Traditionally, to access data on a website, you
                            needed to connect to a single server containing that data. This method of storing data makes
                            it easy for third parties to get access to it, corrupt it or even delete it. In PiperNet it
                            is securely stored on multiple devices in the network, which makes it harder to hack and
                            interfere with your data.</p>
                    </div>
                </div>
                <div class="mb-2 border-bottom">
                    <h5 id="faq-heading2-01">
                        <button aria-controls="faq-collapse2-01" aria-expanded="false" class="btn btn-link btn-block text-left d-flex"
                                data-target="#faq-collapse2-01" data-toggle="collapse" style="white-space:normal !important; word-wrap: break-word"
                                type="button">Why shouldn't I just store
                            my data on a Hooli Box?<img alt=""
                                                        class="p-1 ml-auto my-auto" src="placeholder/icons/chevron-circle-down.svg"></button>
                    </h5>
                    <div aria-labelledby="faq-heading2-01" class="collapse" data-parent="#faq-01" id="faq-collapse2-01">
                        <p>That's just the thing - if you store your data in a single place, like Gavin Belsons'
                            poorly-made server box, your data will very susceptible to hacking. Whereas on PiperNet,
                            your data is safe with many copies to back it up from.</p>
                    </div>
                </div>
                <div class="mb-2 border-bottom">
                    <h5 id="faq-heading3-01">
                        <button aria-controls="faq-collapse3-01" aria-expanded="false" class="btn btn-link btn-block text-left d-flex"
                                data-target="#faq-collapse3-01" data-toggle="collapse" style="white-space:normal !important; word-wrap: break-word"
                                type="button">What makes PiperNet so
                            safe?<img alt="" class="p-1 ml-auto my-auto"
                                      src="placeholder/icons/chevron-circle-down.svg"></button>
                    </h5>
                    <div aria-labelledby="faq-heading3-01" class="collapse" data-parent="#faq-01" id="faq-collapse3-01">
                        <p>Our proprietary middle-out compression algorithm allows data to flow so fast that it can't be
                            hacked! But, in all seriousness, the algorithm helps but it's the public, immutable ledger
                            that makes it secure. This enables PiperNet users to exchange data without risk of it being
                            intercepted by third parties.</p>
                    </div>
                </div>
                <div class="mb-2 border-bottom">
                    <h5 id="faq-heading4-01">
                        <button aria-controls="faq-collapse4-01" aria-expanded="false" class="btn btn-link btn-block text-left d-flex"
                                data-target="#faq-collapse4-01" data-toggle="collapse" style="white-space:normal !important; word-wrap: break-word"
                                type="button">How long does it take to
                            get a company up and running on PiperNet?<img alt=""
                                                                          class="p-1 ml-auto my-auto"
                                                                          src="placeholder/icons/chevron-circle-down.svg"></button>
                    </h5>
                    <div aria-labelledby="faq-heading4-01" class="collapse" data-parent="#faq-01" id="faq-collapse4-01">
                        <p>Access to the public network is granted within a day, but moving all your data and
                            integrating your existing software depends on how big your company is. Startups can expect
                            to be fully online within a week, enterprises can take up to a month due to large reliance
                            on legacy systems and huge datasets.</p>
                    </div>
                </div>
                <div class="mb-2 border-bottom">
                    <h5 id="faq-heading5-01">
                        <button aria-controls="faq-collapse5-01" aria-expanded="false" class="btn btn-link btn-block text-left d-flex"
                                data-target="#faq-collapse5-01" data-toggle="collapse" style="white-space:normal !important; word-wrap: break-word"
                                type="button">How is a decentralized
                            network different from the traditional web?<img alt=""
                                                                            class="p-1 ml-auto my-auto"
                                                                            src="placeholder/icons/chevron-circle-down.svg"></button>
                    </h5>
                    <div aria-labelledby="faq-heading5-01" class="collapse" data-parent="#faq-01" id="faq-collapse5-01">
                        <p>Decentralization is a key aspect of PiperNet. Traditionally, to access data on a website, you
                            needed to connect to a single server containing that data. This method of storing data makes
                            it easy for third parties to get access to it, corrupt it or even delete it. In PiperNet it
                            is securely stored on multiple devices in the network, which makes it harder to hack and
                            interfere with your data.</p>
                    </div>
                </div>
                <div class="mb-2 border-bottom">
                    <h5 id="faq-heading6-01">
                        <button aria-controls="faq-collapse6-01" aria-expanded="false" class="btn btn-link btn-block text-left d-flex"
                                data-target="#faq-collapse6-01" data-toggle="collapse" style="white-space:normal !important; word-wrap: break-word"
                                type="button">Why shouldn't I just store
                            my data on a Hooli Box?<img alt=""
                                                        class="p-1 ml-auto my-auto" src="placeholder/icons/chevron-circle-down.svg"></button>
                    </h5>
                    <div aria-labelledby="faq-heading6-01" class="collapse" data-parent="#faq-01" id="faq-collapse6-01">
                        <p>That's just the thing - if you store your data in a single place, like Gavin Belsons'
                            poorly-made server box, your data will very susceptible to hacking. Whereas on PiperNet,
                            your data is safe with many copies to back it up from.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <h2 class="mb-5 text-center">Contact the Pied Piper team</h2>
            <div class="row">
                <div class="col-md-6 mb-3 mb-md-0">
                    <h5>Let's talk about the future of the internet</h5>
                    <p class="mb-5 text-muted">We're here to answer your questions and discuss the decentralized future
                        of the internet.</p>
                    <div>
                        <div class="d-flex"><img alt="" class="mb-3 mr-3" src="placeholder/icons/map-marker.svg">
                            <p class="text-muted">Pied Piper HQ - 59 Silicon Av.</p>
                        </div>
                        <div class="d-flex"><img alt="" class="mb-3 mr-3" src="placeholder/icons/phone.svg">
                            <p class="text-muted">555-333-555</p>
                        </div>
                        <div class="d-flex"><img alt="" class="mb-3 mr-3" src="placeholder/icons/envelope.svg">
                            <p class="text-muted">pay-the-piper@piedpiper.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <form>
                        <label class="sr-only" for="input-contacts-01">Email</label>
                        <input class="form-control mb-3" id="input-contacts-01" placeholder="Email" type="email">
                        <select class="form-control mb-3">
                            <option disabled selected>Select product</option>
                            <option>Product 1</option>
                            <option>Product 2</option>
                            <option>Product 3</option>
                        </select>
                        <label class="sr-only" for="textarea-contacts-01">Write something...</label>
                        <textarea class="form-control mb-3" id="textarea-contacts-01" placeholder="Write something..."
                                  rows="5"></textarea>
                        <button class="btn btn-primary btn-block" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer class="py-3">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center flex-column flex-md-row border-bottom pb-2">
                <ul class="nav order-2 order-md-1">
                    <li class="nav-item"><a class="nav-link" href="#">Features</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Enterprise</a></li>
                </ul>
                <h5 class="mr-0 mr-md-5 mb-0 order-1 order-md-2"><a href="#">Pied Piper</a></h5>
                <ul class="nav order-3 order-md-3">
                    <li class="nav-item"><a class="nav-link" href="#">Support</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">ICO</a></li>
                </ul>
            </div>
            <div class="d-flex justify-content-center mt-2">
                <p class="mb-0 mt-2 small text-muted">&copy; 2019 Pied Piper. All right reserved.</p>
            </div>
        </div>
    </footer>
</div>
{% endblock %}
