{% extends 'project/base.html' %}
{% load static %}

{% block project_extensions %}
{% endblock %}

{% block project_content %}
<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <h2 class="mt-5" style="font-size: 1.5rem; font-weight:800;">
                                <a class="d-flex align-items-center justify-content-center"
                                   style="text-decoration: none; color: rgb(49, 90, 196);">
                                    <div class="rotate-n-15">
                                        <i class="fas fa-car-side"></i>
                                    </div>
                                    <div class="mx-3">Digitales Fahrtenbuch</div>
                                </a>
                            </h2>
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Anmelden</h1>
                                </div>
                                <form action="{% url 'frontpage:login_form' %}" class="user" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input class="form-control form-control-user" name="email" placeholder="E-Mail-Adresse"
                                               type="email">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control form-control-user" name="password" placeholder="Passwort"
                                               type="password">
                                    </div>
                                    <div class="text-center">
                                        <button class="btn btn-primary" type="submit">Anmelden</button>
                                    </div>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'frontpage:signup' %}">Registrieren sie ihre Institution</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
