{% extends 'project/base.html' %}
{% load static %}

{% block project_extensions %}
{% endblock %}

{% block project_content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="p-1 pt-5 pb-5">
                <div class="text-center">
                    <h2 style="font-size: 1.5rem; font-weight:800;">
                        <a class="d-flex align-items-center justify-content-center mb-3"
                           style="text-decoration: none; color: rgb(49, 90, 196);">
                            <div class="rotate-n-15">
                                <i class="fas fa-car-side"></i>
                            </div>
                            <div class="mx-3">Digitales Fahrtenbuch</div>
                        </a>
                    </h2>
                    <h1 class="h4 text-gray-900 mb-4">Institution anmelden</h1>
                </div>
                <form action="{% url 'frontpage:signup_form' %}" method="post">
                    {% csrf_token %}
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Angaben zur Institution</h6>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="title">Name<b> *</b></label>
                                <input class="form-control" id="title" name="title" type="text">
                                <small class="form-text text-muted">
                                    (Erlaubt sind bis zu 100 Buchstaben und Zahlen)
                                </small>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="street">Straße<b> *</b></label>
                                    <input class="form-control" id="street" name="street" type="text">
                                    <small class="form-text text-muted">
                                        (Erlaubt sind bis zu 100 Buchstaben und Zahlen)
                                    </small>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="street">Hausnummer<b> *</b></label>
                                    <input class="form-control" id="house_number" name="house_number" type="text">
                                    <small class="form-text text-muted">
                                        (Erlaubt sind bis zu 4 Buchstaben und Zahlen)
                                    </small>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="postalcode">Postleitzahl<b> *</b></label>
                                    <input class="form-control" id="postalcode" name="postalcode" type="text">
                                    <small class="form-text text-muted">
                                        (Erlaubt sind genau 5 Zahlen)
                                    </small>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="town">Stadt<b> *</b></label>
                                    <input class="form-control" id="town" name="town" type="text">
                                    <small class="form-text text-muted">
                                        (Erlaubt sind bis zu 100 Buchstaben und Zahlen)
                                    </small>
                                </div>
                                <small><b>(*) </b>Pflichtfelder</small>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Angaben zum ersten Controller</h6>
                            <small class="form-text text-muted">
                                (Der Controller verwaltet das Digitale Fahrtenbuch für ihre Institution)
                            </small>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="first_name">Vorname<b> *</b></label>
                                    <input class="form-control" id="first_name" name="first_name" type="text">
                                    <small class="form-text text-muted">
                                        (Erlaubt sind bis zu 50 Buchstaben)
                                    </small>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="last_name">Nachname<b> *</b></label>
                                    <input class="form-control" id="last_name" name="last_name" type="text">
                                    <small class="form-text text-muted">
                                        (Erlaubt sind bis zu 50 Buchstaben)
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">E-Mail<b> *</b></label>
                                <input class="form-control" id="email" name="email" type="email">
                                <small class="form-text text-muted">
                                    (Erlaubt ist nur ein gültiges E-Mail Format)
                                </small>
                            </div>
                            <div class="form-group">
                                <label for="password">Passwort<b> *</b></label>
                                <input class="form-control" id="password" name="password" type="password">
                                <small class="form-text text-muted">
                                    (Denken sie an ein sicheres Passwort)
                                </small>
                            </div>
                            <div class="form-group">
                                <label for="password_check">Passwort erneut eingeben<b> *</b></label>
                                <input class="form-control" id="password_check" name="password_check"
                                       type="password">
                            </div>
                            <small><b>(*) </b>Pflichtfelder</small>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button class="btn btn-primary" type="submit">Registrieren</button>
                    </div>
                </form>
                <hr>
                <div class="text-center">
                    <a class="small" href="{% url 'frontpage:login' %}">Sie haben sich schon registriert? Melden
                        sie sich an!</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
