{% extends 'dashboard/index.html' %}
{% load static %}

{% block dashboard_extensions %}
<title>Fahrzeug hinzufügen - Digitales Fahrtenbuch</title>
{% endblock %}

{% block dashboard_content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Fahrzeug hinzufügen</h1>
</div>
<div class="row">
    <div class="col-md-12 mb-4" style="max-width: 720px">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Fahrzeug hinzufügen</h6>
            </div>
            <div class="card-body">
                <form action="{% url 'cars:insert_car' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="model">Modellbezeichnung</label>
                        <input class="form-control" id="model" name="model" type="text">
                        <small class="form-text text-muted">
                            (Erlaubt sind bis zu 100 Buchstaben)
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="manufacturer">Hersteller</label>
                        <input class="form-control" id="manufacturer" name="manufacturer" type="text">
                        <small class="form-text text-muted">
                          (Erlaubt sind bis zu 100 Buchstaben)
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="vin">Fahrzeug-Identifikationsnummer (FIN)</label>
                        <input class="form-control" id="vin" name="vin" type="text">
                        <small class="form-text text-muted">
                            (Erlaubt sind genau 17 Buchstaben und Zahlen, ohne I, O und Q)
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="seats">Anzahl der Sitze</label>
                        <input class="form-control" id="seats" name="seats" type="number">
                        <small class="form-text text-muted">
                            (Erlaubt sind nur ganze Zahlen über 0)
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="milage">Kilometerstand</label>
                        <input class="form-control" id="milage" name="milage" type="number">
                        <small class="form-text text-muted">
                            (Erlaubt sind nur ganze Zahlen über 0)
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="first_registration">Erstzulassung</label>
                        <input class="form-control" id="first_registration" name="first_registration" type="text">
                        <small class="form-text text-muted">
                            (Erlaubt ist nur das Datumsformat TT:MM:JJJJ)
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="type_id">Fahrzeugtyp</label>
                        <select class="form-control" id="type_id" name="type_id">
                            {% for type in car_types %}
                            <option value="{{ type.0 }}">{{ type.1 }}</option>
                            {% endfor %}
                        </select>
                        <small class="form-text text-muted">
                            Sie finden ihren Fahrzeugtyp nicht? Wenden sie sich bitte an ihren Administrator.
                        </small>
                    </div>
                    <small><b>(*) </b>Pflichtfelder</small>
                    <div class="form-group mt-3">
                        <a class="btn btn-secondary" href="{% url 'cars:index' %}">Abbrechen</a>
                        <button class="btn btn-primary" type="submit">Neues Fahrzeug hinzufügen</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
