{% extends 'dashboard/index.html' %}
{% load static %}

{% block dashboard_extensions %}
<title>Fahrzeug hinzufügen - Digitales Fahrtenbuch</title>
{% endblock %}

{% block dashboard_content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Fahrzeug hinzufügen</h1>
</div>
<div class="row">
    <div class="col-md-12 mb-4" style="max-width: 720px">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Hinweis</h6>
            </div>
            <div class="card-body">
                <p>Neues Fahrzeug erfolgreich hinzugefügt.</p>
                <p>Das Fahrzeug steht nun für Buchungen zur Verfügung.</p>
                <p><strong>Wollen sie ein weiteres Fahrzeug hinzufügen?</strong></p>
                <a class="btn btn-secondary" href="{% url 'dashboard:index' %}">Nein</a>
                <a class="btn btn-primary" href="{% url 'cars:cars' %}">Ja</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
