{% extends 'dashboard/index.html' %}
{% load static %}

{% block dashboard_extensions %}
<title>Fahrzeug buchen - Digitales Fahrtenbuch</title>
{% endblock %}

{% block dashboard_content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Fahrzeug buchen</h1>
</div>
<div class="row">
    <div class="col-md-12 mb-4" style="max-width: 720px">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Neue Buchung aufgeben</h6>
            </div>
            <div class="card-body">
                <form action="{% url 'booking:book_car' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="start_date">Startdatum<b> *</b></label>
                        <input class="form-control" id="start_date" name="start_date" type="text">
                        <small class="form-text text-muted">
                            (Erlaubt ist nur das Datumsformat DD.MM.JJJJ)
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="start_time">Startzeit<b> *</b></label>
                        <input class="form-control" id="start_time" name="start_time" type="text">
                        <small class="form-text text-muted">
                            (Erlaubt ist nur das Zeitformat HH:SS)
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="end_date">Enddatum<b> *</b></label>
                        <input class="form-control" id="end_date" name="end_date" type="text">
                        <small class="form-text text-muted">
                            (Erlaubt ist nur das Datumsformat DD.MM.JJJJ)
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="end_time">Endzeit<b> *</b></label>
                        <input class="form-control" id="end_time" name="end_time" type="text">
                        <small class="form-text text-muted">
                            (Erlaubt ist nur das Zeitformat HH:SS)
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="car">Fahrzeug auswählen<b> *</b></label>
                        <select class="custom-select" id="car" name="car">
                            {% for car in cars %}
                            <option value="{{ car.0 }}">{{ car.2 }} {{ car.1 }} {{ car.7 }} (Sitze: {{ car.4 }})
                            </option>
                            {% endfor%}
                        </select>
                        <small class="form-text text-muted">
                            Es werden ihnen alle verfügbaren Fahrzeuge vorgeschlagen. Wird ihr Wunschfahrzeug nicht
                            angezeigt, wurde es bereits gebucht.
                        </small>
                    </div>
                    <small><b>(*) </b>Pflichtfelder</small>
                    <div class="form-group mt-3">
                        <a class="btn btn-secondary" href="{% url 'booking:index' %}">Abbrechen</a>
                        <button class="btn btn-primary" type="submit">Neue Buchung aufgeben</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
