{% extends 'dashboard/index.html' %}
{% load static %}

{% block dashboard_extensions %}
<title>Fahrt buchen - Digitales Fahrtenbuch</title>
{% endblock %}

{% block dashboard_content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Fahrzeug buchen</h1>
</div>
<div class="row">
    <div class="col-md-12 mb-4" style="max-width: 720px">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Hinweis</h6>
            </div>
            <div class="card-body">
                <p>Bevor sie sich ein Fahrzeug ausleihen und eine Fahrt in das Fahrtenbuch eintragen können, müssen sie
                    eine neue Buchung aufgeben.</p>
                <a class="btn btn-secondary" href="{% url 'trips:index' %}">Ich habe schon eine Buchung</a>
                <a class="btn btn-primary" href="{% url 'booking:booking' %}">Zum Formular</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}