{% extends 'project/base.html' %}
{% load static %}

<!-- Extensions for head e.g. stylesheets, js, tags -->
{% block project_extensions %}
<title>{{ error_code }} - Digitales Fahrtenbuch</title>
{% endblock %}

<!-- Bootstrap Container grid -->
{% block project_content %}
<!-- Error Text -->
<div class="text-center">
    <div class="error mx-auto mt-5" data-text="{{ error_code }}">{{ error_code }}</div>
    <p class="lead text-gray-800 mb-3">{{ error_title }}</p>
    <p class="text-gray-500 mb-3">{{ error_msg }}</p>
    <a href="{{ error_link }}">&larr; Fehler beheben</a>
</div>
{% endblock %}