{% extends 'dashboard/base.html' %}
{% load static %}

<!-- Extensions for head e.g. stylesheets, js, tags -->
{% block dashboard_extensions %}
<title>Startseite - Digitales Fahrtenbuch</title>
{% endblock %}

<!-- Bootstrap Container grid -->
{% block dashboard_content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Startseite</h1>
</div>
{% endblock %}
